html{
    padding: 0; 
    margin: 0;
}
body{
    font-family: 'Be Vietnam', sans-serif;
    background-image: url(../img/bg-tablet-pattern.svg);
    background-size: cover;
    position: relative;
}
h1,h2,h6{
    font-weight: 700;
    color: hsl(228, 39%, 23%);
}
#navBar{
    display: flex;
    padding-top: 5%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 12;
}
#navBarLinks{
    width: fit-content;
    z-index: 12;
}
.navLink{
    color:hsl(233, 12%, 13%);
    z-index: 12;
    
}
.navLink:hover{
    
    color: hsl(227, 12%, 61%);
    text-decoration: none;
    z-index: 12;
}
#navMenuMobile{
    position: relative;
    transition: 0.5s;
    top: -40%;
    padding-top: 5%;
    display: none;
    top: 150px;
    flex-direction: column;
    align-items: center;
    width:auto;
    height: auto;
    font-weight: 700;
    border-radius: 3%;
    padding-bottom: 5%;
    background-color: #FFF;
    z-index: 12;
    width: auto;

}
.btn.btn-primary.gs-button{
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    font-weight: 700;
    text-decoration: none;
    color: #FFF;
    background-color: hsl(12, 88%, 59%);
    border-color: hsl(12, 88%, 59%);
    box-shadow: 0 8px 16px 0 rgba(242,95,58,0.2), 0 6px 20px 0 rgba(242,95,58,0.19);
    transition: .4s;

}
.btn.btn-primary.gs-button:hover{
    display: inline-block;
    padding: 7px 20px;
	border-radius: 25px;
    text-decoration: none;
    font-weight: 700;
    color:hsl(0, 0%, 98%);
    background-color: hsl(12, 77%, 67%);
    border-color: hsl(12, 88%, 59%);
    box-shadow: 0 8px 16px 0 rgba(242,95,58,0.2), 0 6px 20px 0 rgba(242,95,58,0.19);
    transition: .4s;

}
.overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
#navMenu{
    display: none;
    position: relative;
    z-index: 12;
}
#navMenuClose{
    display: none;
    z-index: 12;
}
#splashContent{
    margin-top: 5%;
    margin-bottom: 5%;

}
#jumboText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#jumboTextHeading,#jumboTextParagraph,#getStartedButton1{
    margin-bottom: 10%;
}
#jumboTextParagraph{
    width: 70%;
    color: #8b8b8f;
}
h1{
    font-weight: 700;
}
.pointBullet{
    display: inline-block;
    padding: 7px 20px;
	border-radius: 25px;
    text-decoration: none;
    font-weight: 700;
    color: #FFF;
    background-color: hsl(12, 88%, 59%);
    border-color: hsl(12, 88%, 59%);
}
.pointPara{
    color: #8b8b8f;
}
.card-img-top {
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
    width: 80px !important;
    height: 80px;
}
.card{
    margin-top: 40px;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
.card-text{
    color: #8b8b8f;
}
#getStartedButton2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
#simplifySection{
    background-image: url(/assets/img/bg-tablet-pattern.svg);
    background-color: hsl(12, 88%, 59%);
    display: flex;
    color: #FFF;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
#secondaryButton{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.btn.btn-secondary.gs2-button{
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    font-weight: 700;
    text-decoration: none;
    color: hsl(12, 88%, 59%);
    background-color: #FFF;
    border-color: #FFF;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: .4s;
    justify-self: end;

}
.btn.btn-secondary.gs2-button:hover{
    display: inline-block;
    padding: 7px 20px;
    border-radius: 25px;
    font-weight: 700;
    text-decoration: none;
    color: hsl(12, 77%, 67%);
    background-color: #FFF;
    border-color: #FFF;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: .4s;
    justify-self: end;

}
.footer{
    background: hsl(233, 12%, 13%);
    color: #FFF;
}
#aboutUsParagraph{
    color: #8b8b8f;
    margin-top: 5%;
    margin-bottom: 5%;
}
.linkSets{
    display: flex;
    color: #FFF;
}
.smLink{
    color: #FFF;
}
.smLink:hover{
    color:  hsl(12, 88%, 59%);
    text-decoration: none;
}
.linkSet1,.linkSet2{
    display: flex;
    flex-direction: column;
}
#emailInputBox{
    padding: 7px 20px;
    border-radius: 25px;
    border: 2px solid hsl(12, 88%, 59%);;
}
#errorText{
    color: red;
    display: none;
}
#copyRightContent{
    color: gray;
    margin: 0 0;
}
#copyRightText{
    color: gray;
    font-size: 0.85rem;
    text-align: right;
}
#footerContent{
    padding-top: 5%;
    padding-bottom: 5%;
}
.soLink{
    margin-right: 2%;
    margin-left: 2%;
}
#socialMediaLinks{
    margin-top: 10%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}
.smLink{
    margin-top: 3%;
    margin-bottom: 3%;
}
#testimonialHeader{
    text-align: center;
    width: 100%;
    margin-bottom: 7%;
    margin-top: 5%;

}
#testimonialSlider{
    width: 100%;
   height: auto;
   display: flex;
   overflow-x: scroll;
   -webkit-overflow-scrolling: touch;
   scroll-snap-type: x mandatory;
   flex-wrap: nowrap;
}
.slideElement{
    width: 300px;
    flex-shrink: 0;
    height: 100%;
    scroll-snap-align: start;
}
.card{
    margin-bottom: 5%;
    width: 20rem;
    border: none;
    border-radius: 2px;
    background-color: hsl(0, 0%, 98%);
}
.card-block{
    text-align: center;
    margin: 2% 2%;
    background-color: hsl(0, 0%, 98%);

}
.card-title{
    font-size: medium;
    margin-top: 2%;
    font-weight: 700;
}

.card-text{
    font-size: 0.8rem;
}
#simplifyHeader{
    color: #FFF;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: hsl(12, 88%, 59%);
    color:  hsl(12, 88%, 59%);
    border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
    background: hsl(12, 61%, 41%);
    color:  hsl(12, 61%, 41%);
    border-radius: 25px;
}
@media only screen and (max-width: 768px){
    #jumboTextParagraph{
        width: 80%;
        color: #8b8b8f;

    }
    #jumboTextHeading,#jumboTextParagraph{
        margin-bottom: 10%;
    }
    body{
        padding: 0;
    }
    #jumboImage{
        max-width: 100%;
    }
    #navBarButton{
        display: none;
    }
    #navMenu{
        display: inline;
    }
    #navBarLinks{
        display: none;
    }
    h6{
        background-color: hsl(13, 100%, 96%);
    }
    h1{
        font-size: 2rem;
    }
    #jumboText{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        padding-right: 10%;
    }
    #aboutUsPoints,#aboutUsSection{
        background-color: #FFF;
    }
    #jumboImage{
        max-width: 100%;
        height: auto;
    }
    #aboutUsParagraph{
        color: #8b8b8f;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #secondaryButton{
        display: flex;
        margin-top: 3%;
        margin-bottom: 3%;
        justify-content: center;
    }
    #simplifyHeaderSection{
        display: flex;
        margin-top: 3%;
        margin-bottom: 3%;
        justify-content: center;

    }
    #emailField,#errorText{
        display: flex;
        justify-content: center;
    }
    #emailInputSection{
        padding-top: 3%;
        padding-bottom: 3%;
    }
    #goButton{
        margin-left: 2%;
    }
    #footerContent,#socialMediaLinks{
        display: flex;
        justify-content: center;
    }
    #navigationLinks{
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }
    #splashContent{
        margin-top: 8%;
        margin-bottom: 8%;
    
    }
    .slideElement{
        padding: 0%;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        justify-content: center;
    }
    #testimonialSlider{
        width: 100%;
       height: auto;
       display: flex;
       overflow-x: scroll;
       -webkit-overflow-scrolling: touch;
       scroll-snap-type: x mandatory;
       flex-wrap: nowrap;
    }
    h1,h2{
        width: 100%;
        text-align: center;
        margin-bottom: 8%;
    }
    .card{
        margin-bottom: 5%;
        width: 100%;
        border: none;
        border-radius: 2px;
        background-color: hsl(0, 0%, 98%);
    }
    .linkSet2{
        display: flex;
        justify-content: right;
    }
    #copyrightContent{
        display: flex;
        justify-content: center;
        
    }

}





